$darkGrey1: #222222;
$darkGrey2:#2b2b2b;
$lightGrey1:#f7f7f7;
$lightGrey2:#e8e3dd;
$blue1:#1a3e5d;
$blue2:#23527b;
$blue3:#2e6ca3;
$blue4:#498bc5;

html{
  overflow-y:scroll;
}
html, body, #app, #react-root,.content{
  background-color:white;
  min-height:100vh;
  width:100%;
}

.row{
	margin:0px;
}

.button-container{
  padding-top: 30px;
  text-align: center;
  button, input{
    font-size: 20px;
    border: 2px solid $darkGrey1;
    border-radius: 5px;
    background-color: white;
    transition:all .5s;
    a{
      color:$darkGrey1;
    }
    &:hover{
      color:white;
      a{
      color: white;
      text-decoration: none;
    }
      background-color: $blue2;
    }
  }
}

#button-container{
  transition: all .1s ease-in-out;
  height:165px;
  max-height: 165px;
  transition: max-height .1s;
}

.inner-container{
  position:relative;
  left:50%;
  transform:translateX(-50%);
  h1{
    font-size:50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
  }
  p{
    text-align: center;
      font-family: 'Source Sans Pro', sans-serif;
  }
}

.outer-container{
  padding-top: 50px;
  padding-bottom: 50px;
}

.outer-container.white{
  background-color: white;
}

#buttons{
  padding:30px;
  a{
    border-radius: 5px;
    text-decoration: none;
    background-color: $darkGrey2;
    border:none;
    color:$lightGrey1;
    margin:30px;
    padding:10px;
    &:hover{
      background-color:$blue2;
    }
  }
}

.content{
  background-color:$lightGrey1;
 }

#footer {
  width:100%;
  background-color: $darkGrey2;
  text-align: center;
  padding: 30px;
  a{
    text-decoration: none;
    color:$lightGrey1;
    margin-left: 15px;
    margin-right: 15px;
  }
}

#header{
}

#header-container{
  width:100%;
  background-color: $darkGrey1;
  z-index: 30;
}

#header-links{
  margin-top: 33px;
  margin-bottom: 25px;
  float:right;
  a{
    text-decoration: none;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    color:$lightGrey1;
    padding:7px;
    &:hover{
    color:$blue4;
    }
  }
}

#ham-menu{
  display:none;
}

.images{
  margin-bottom: 50px;
  img{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    padding: 10px;
  }
}

.page-title-container{
  height:50vw;
  max-height: 50vh;
  background-size: 100%;
  background-repeat:no-repeat;
  .title-inner-container{
    height:100%;
    .title-container{
      position:relative;
      top:50%;
      transform:translateY(-50%);
      h1{
        margin:0px;
        text-align: center;
        width:100%;
        color:white;
        font-family: 'Montserrat', sans-serif;
        font-size: 100px;
      }
    }
  }
}

.page-title-container.home{
  background-image: url("../../Client/img/Page Titles/home.jpg");
  background-position:center center;
}

.page-title-container.consoles{
  background-image: url("../../Client/img/Page Titles/consoles.png");
  background-position:left bottom;
}

.page-title-container.contact{
  background-image: url("../../Client/img/Page Titles/contact.jpg");
  background-position:left bottom;
}
.page-title-container.bug{
  background-image: url("../../Client/img/Page Titles/bug.png");
  background-position:center center;
}
.page-title-container.GameBoy{
  background-image: url("../../Client/img/Page Titles/gameboy.png");
  background-position:left bottom;
}

.page-title-container.N64{
  background-image: url("../../Client/img/Page Titles/n64.png");
  background-position:center center;
}

.page-title-container.nes{
  background-image: url("../../Client/img/Page Titles/nes.png");
  background-position:left bottom;
}

.skill-container{
  display:inline-block;
  padding:10px;
  .skill{
    position:relative;
    overflow:hidden;
    border:2px solid $lightGrey2;
    background-color: $lightGrey1;
    img{
      width:100%;
    }
    &:hover{
      .slider{
      transition: .5s;
      left: 0;
      }
    }
    .slider {
    position: absolute;
    left: -100%;
    top:0;
    width: 100%;
    height: 100%;
    transition: .5s;
    background-color: rgba(255, 255, 255, .9);
      p {
        position:relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
      }
    }
  }
}

#middle-content.white{
  background-color: white;
}

#middle-content{
  position: relative;
  top:0px;
  left:50%;
  transform: translateX(-50%);
  min-height:calc(100vh - 171.66px);
  padding:0px;
  background-color:$lightGrey1;
  transition:top 2s ease-out;
}

#emulator-middle-content{
  position: absolute;
  top:92.5px;
  height:calc(100vh - 171.66px);
  padding:0px;
  background-color:black;
}

#middle-content-container{
  background-color:$lightGrey1;
  min-height:calc(100vh - 171.66px);
  width:100%;
  overflow:hidden;
  padding:0px;
  padding-bottom:20px;
}

#screen-container{
  height:100%;
}

#screen{
position:relative;
left:50%;
transform: translateX(-50%);
}

#name{
  margin-top: 25px;
  margin-bottom: 25px;
  float:left;
  a{
    font-size:30px;
    font-weight:800;
    color:$lightGrey1;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
  }
}

.pic-container{
  img{
    width:100%;
  }
}

.project{
  position:relative;
  top:0px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  background-color:inherit;
  margin-bottom:30px;
  h1, h2{
    color:$blue2
  }
  h1{
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
  }
  h2{
    font-size:17px;
    font-family: 'Montserrat', sans-serif;
  }
  p{
    font-size:15px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  &:hover{
    h1, h2{
      color:$blue2;
    }
  }
}
.projects-inner-container{
  padding-top:30px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  text-align: center;
}

.projects-inner-container.col-centered{
  div{
  display: inline-block;
  float: none;
}
}

.outer-container.grey{
  background-color: $lightGrey1;
}

.feature-list{
  ul{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
  }
}

.project-container{
  margin-left: auto;
  margin-right: auto;
  transition: all .1s ease-in-out;
  background-color:#FFFFFF;
  width:90%;
  border:2px solid $lightGrey2;
  .project-description{
    height:65px;
    p{
      position: relative;
      top:50%;
      transform:translateY(-50%);
      color:$darkGrey1;
      &:hover{
        text-decoration: none;
      }
    }
  }
  img{
    width:100%;
  }
  p,h1,h2{
    margin-left: 20px;
    margin-right: 20px;
  }
  h2{
    margin-top: 0px;
  }
  h1{ margin-bottom: 0px;
  }
  &:hover{
    transform:scale(1.05);
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    img.nes{
      content:url("../../Client/img/SMB3.gif");
    }
    img.gb{
      content:url("../../Client/img/Zelda.gif");
    }
    img.gba{
      content:url("../../Client/img/pokemon.gif");
    }
    img.n64{
      content:url("../../Client/img/mariokart.gif");
    }
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
}

.feature-list-container{
  margin-left: auto;
  margin-right: auto;
  background-color:#FFFFFF;
  width:90%;
  border:2px solid $lightGrey2;
  p,h1,h2{
    margin-left: 20px;
    margin-right: 20px;
  }
  h2{
    margin-top: 0px;
  }
  h1{ margin-bottom: 0px;
  }
}

input.input-field{
  width:90%;
  background-color: #FFF;
  border:1px solid $darkGrey1;
  border-radius: 5px;
}

input.message{
  line-height:10em;
}

#romFileInput{
max-width:150px;
}
